@import '../../../theme';

$foreground: map-get($app-theme, foreground);
$background: map-get($app-theme, background);
$border-color: rgba(217, 217, 217, 1);
$config: mat-typography-config();

@function borderColor($opacity: 1) {
  @return rgba(red($border-color), green($border-color), blue($border-color), $opacity);
}

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 0;
  background: mat-color($background, card);
  color: mat-color($foreground, text);
  box-sizing: content-box;
  border-radius: 4px;
  border: 1px solid borderColor(1);
  overflow: hidden;

  &.empty {
    display: none;
  }

  > sci-viewport {
    flex: auto;

    .mat-list-item {
      display: flex;
      align-items: center;
      padding: .25em .5em;
      &.selected, &:hover {
        background: mat-color($background, 'hover');
      }
    }
  }

  > div.info-panel {
    flex: none;
    font-size: mat-font-size($config, caption); // MAT _typography.scss, _palette.scss
    background-color: borderColor(.5);
    border-top: 1px solid borderColor(1);
    padding: .5em .5em;
  }
}
