<sci-viewport>
  <mat-nav-list dense sciDimension (sciDimensionChange)="onProposalListDimensionChange($event)">
    <mat-list-item *ngFor="let proposalKey of proposalKeys$ | async; trackBy: trackByFn"
                   (mousedown)="onProposalMousedown($event)"
                   (mouseup)="onProposalMouseup(proposalKey)"
                   [class.selected]="proposalKey === selection"
                   [innerHTML]="displayText$(proposalKey) | async">
    </mat-list-item>
  </mat-nav-list>
</sci-viewport>
<div class="info-panel" *ngIf="!!info" [innerHTML]="info"></div>

