@import '../../theme';

/**
 * Provides the styling for a panel with HTML button elements.
 */
@mixin ux-button-panel() {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid rgba(50, 50, 50, .3);
  background-color: rgba(50, 50, 50, .075);
  margin-top: 1em;
  padding: .5em 1em;

  > button {
    cursor: pointer;
    padding: .5em 1.5em;
    font-family: inherit;
    color: rgba(51, 51, 51, .8);
    border: 1px solid rgba(51, 51, 51, .5);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    &:focus, &:active {
      border-color: mat-color($primary);
      color: mat-color($primary);
      outline: 0;
      box-shadow: 0 0 8px 0 mat-color($primary, .35);
    }
    &:not(:first-child) {
      margin-left: .2em;
    }
    &:not(:last-child) {
      margin-right: .2em;
    }
  }
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  > sci-viewport.form {
    flex: auto;

    div.viewport-client {
      flex: auto;
      padding: .5em 1em;
      display: flex;
      flex-flow: column nowrap;
    }
  }

  > div.button-panel {
    flex: none;
    @include ux-button-panel();
  }
}
